    <meta charset="utf-8">
    <title>Tony Ng Times</title>
    <meta name="Tony Ng's personal newspaper" content="">
    <meta name="Tony Ng" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
   	
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
        <div class="container">
      		<div class="content">
        		<div class="page-header">
					<p>
          			<div><img src="images/TNtimes.png">
						<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.tonyng.me&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=277837072250527" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
						<div id="tweet">
						<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out Tony Ng's personal page design! www.tonyng.me" data-count="horizontal" data-via="TonyNggg">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
						</div>
						</div>
						<p>
						<div> <%= Time.now.strftime("%A %B, %Y")%>&nbsp;&nbsp;&nbsp;&nbsp;<%=Time.now.utc.getlocal.strftime("%l:%M 					       %p")%>&nbsp;<%=Time.now.zone%></div>
        		</div>
	
					<div class="page-header2">
						<h5>
		          			<ul class="nav">
		          				<li><%= link_to "Home", root_path %></li>
		          				<li class="tech"><%= link_to "Technology", tech_path %>
									<ul class="dropdown">
										<li><a>Mobile</a><li>
										<li><a>Web Trends</a><li>
										<li><a>Startups</a><li>
									</ul>	
								</li>	
		          				<li class="about"><%= link_to "About", about_path %>
									<ul>
										<li><a>Mobile</a><li>
										<li><a>Web Trends</a><li>
										<li><a>Startups</a><li>
									</ul>
								</li>
								<li class="travel"><%= link_to "Travel", travel_path %>
									<ul>
										<li><a>Mobile</a><li>
										<li><a>Web Trends</a><li>
										<li><a>Startups</a><li>
									</ul>
								</li>
								<li class="sports"><%= link_to "Sports", travel_path %>
									<ul>
										<li><a>Mobile</a><li>
										<li><a>Web Trends</a><li>
										<li><a>Startups</a><li>
									</ul>
								</li>
		          			</ul>
		        		</h5>
		          <h2 id="title"> <%=@title%> 
		          <form id="search">
		            <%= form_tag("/search", :method => "get") do %>
		            <%= text_field_tag :search, params[:search] %>
			    	<%= submit_tag "Search", :class => "btn primary", :name => nil %>
			    	<% end %>
		          </form>	
		          </h2>
		  			</div>
					<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>

					<script>
					$(document).ready(function() { 

					  $(window).scroll(function(e) {  
					    if ($(window).scrollTop() > 115) { 
					      $(".page-header2").addClass("fixed");
					    } else {
					      $(".page-header2").removeClass("fixed");
					    } 
					  }); 

					});
					</script>

	